@page "/events"
@using EventEase.Components
@using EventEase.Data
@inject EventService _eventService

<h2>Upcoming Events</h2>

@if (eventList != null)
{
    <Virtualize Items="@eventList" Context="ev">
        <EventCard EventData="ev" />
    </Virtualize>
}


@code {
    List<Event>? eventList = null;

    protected override async Task OnInitializedAsync()
    {
        eventList = await _eventService.GetEventsAsync();
    }
}